<%include ./partials/header%>
<head>
  <title> <%-cat.Ctitle%></title>
</head>
    <form method="POST" action="/vote?_method=PUT">
      <input type="text" name="inputEmail" id="email"placeholder="MyRegistered@email.com" required>
      <input type="password" name="pw" id="PW" placeholder="your Password" required>
        
        <%if(error.text==="Nope!"){%>
        <span class="error">
        &#9756;
        <%}%>
        </span>
      <div class="cat">
        <h2><%-cat.Ctitle%></h2>
      </div>
      <div class="catInfo">
        &#164;<strong>
        <a class="taglink" href="/tag/<%=cat.tagA%>"> 
        <%-cat.tagA%>
        </a>
        </strong>
        &nbsp;<strong>
        <a class="taglink" href="/tag/<%=cat.tagB%>">
        <%-cat.tagB%> 
        </a>
        </strong>
         &nbsp;<strong>
         <a class="taglink" href="/tag/<%=cat.tagC%>"> <%-cat.tagC%> </a>
         </strong>
         <span class="created_at">&nbsp;Created: <%-cat.created_atC%></span>
        <span class="vote" id="cat"> &nbsp;
        <label>Category: </label>
        <input class="Cup" type="submit" name="cat,<%=cat.created_atC%>,up" value="&#8657;">
        &nbsp;<%-cat.Cvote%>&nbsp;
        <input class="Cdo" type="submit" name="cat,<%=cat.created_atC%>,down" value="&#8659;">
         </span>  </span>
    </div>
    <div class="author">
      <h4>Originator: </h4><span class="author"><a class="authlink" href="/user/<%=cat.userID%>/"><%-cat.userN%></a></span> &nbsp; <span class="avatar">(<%-cat.avatar%>)</span> &nbsp;
      <span class="created_at"> &nbsp;Created: <%-cat.created_atU%></span>
      <span class="vote" id="user"> &nbsp;
        <label>Rep: </label>
        <input type="submit" class="Uup" name="user,<%=cat.created_atU%>,up" value="&#8657;">
        &nbsp;<%-cat.Uvote%>&nbsp;
        <input type="submit" class="Udo" name="user,<%=cat.created_atU%>,down" value="&#8659;">
         </span>
    </form>
    </div>
    <!-- Ctitle, Cbody, CimageUrl, userID, tagA, tagB, tagC, Cvote, created_atC)  -->
    <div class="cat">
    <img src="<%-cat.CimageUrl%>">
    <p class="body"><%-cat.Cbody%></p>
    <div class="catInfo">
    <span class="editCat"><a href="/cat/<%=cat.id%>/edit"> Edit this Category!</a></span>
    <% if(cat.updated_atC !==null){%>
        <span class="created_at">Updated: <%-cat.updated_atC%></span></>
        <%}%>
    </div>
    </div>
    <div> 
    <%if(posts.length<1){%>
      <div>
      <span class="delete">
        <p> There are no posts here!
        <form method="POST" action="/cat/<%=posts.catID%>?_method=DELETE">
        <input type="submit" name= "delete" value="Delete Category">
        </form></p>
      </span>
      </div>
      <%}else{%>
    <ol>
      <% posts.forEach(function(key){ %>
      <li>
      <div>
      <a href="/cat/<%=key.catID%>/post/<%=key.id%>"><%-key.Ptitle%> <span class="created_at">(updated: <%-key.created_atP%>)<a class="edit" href="/post/<%=key.id%>/edit">Edit</a></span></a><br />
      <span class="delete">
        <form method="POST" action="/post/<%=key.id%>?_method=DELETE">
        <input type="submit" name= "delete" value="Delete Post">
        </form>
      </span>
      </div>
      </li>
      <%});%>
    </ol>
    <%}%>
    <a href="/cat/<%=spID.number%>/post/add"> Add a Post!</a>
    </div>
    </main>
    <div class="topcat">
    <ul class="cats">
      <li><a href="/cat/<%=spID.number%>/edit">Edit Category</a></li>
      <li><a href="/post/add"> Add another Post</a></li>
    </ul>
    </div>
    <form method="POST" action="/subscribe/c/<%=spID.number%>">
      <input type="text" name="inputEmail" id="email"placeholder="MyRegistered@email.com" required>
      <input type="password" name="pw" id="PW" placeholder="your Password" required>
      <input type="submit" name="post" value="Subscribe">
    </form>
<%include ./partials/footer%>