<%include ./partials/header%>
      <label> Your User</label>

      <form method="POST" action="/vote?_method=PUT">
      <input type="text" name="inputEmail" id="email"placeholder="MyRegistered@email.com" required>
      <input type="password" name="pw" id="PW" placeholder="your Password" required>
    <%if(error.text==="Nope!"){%>
      <span class="error">
      &#9756;
    <%}%>
    </span>
    <br />
    <div class="cat">
    <h4><a class="catlink" href="/cat/<%-post.catID%>/"><%-cat.Ctitle%></a><span class="vote" id="cat"> &nbsp;
        <label>Category: </label>
        <input class="Cup" type="submit" name="cat,<%=cat.created_atC%>,up" value="&#8657;">
        &nbsp;<%-cat.Cvote%>&nbsp;
        <input class="Cdo" type="submit" name="cat,<%=cat.created_atC%>,down" value="&#8659;">
         </span>  </span></h4>
    <div class="catInfo">
       &#164;<strong><a class="taglink" href="/tag/<%=cat.tagA%>"> <%-cat.tagA%></a></strong>&nbsp;<strong><a class="taglink" href="/tag/<%=cat.tagB%>"><%-cat.tagB%> </a></strong> &nbsp;<strong><a class="taglink" href="/tag/<%=cat.tagC%>"> <%-cat.tagC%> </a></strong>
    </div>
    <div class="author">
      Originator: <span class="author"><a class="authlink" href="user/<%=cat.userID%>/"><%-cat.userN%></a></span> &nbsp; <span class="avatar">(<%-cat.avatar%>)</span> &nbsp;
      <span class="vote" id="user"> &nbsp;
        <label>Rep: </label>
        <input type="submit" class="Uup" name="user,<%=cat.created_atU%>,up" value="&#8657;">
        &nbsp;<%-cat.Uvote%>&nbsp;
        <input type="submit" class="Udo" name="user,<%=cat.created_atU%>,down" value="&#8659;">
         </span>
    </div>
    </div>
    <div class="postTit">
      <h2> <%-post.Ptitle%></h2>
      <div class="postInfo">
        &#164;<strong><a class="taglink" href="/tag/<%=post.tagA%>/"><%-post.tagA%></a></strong>&nbsp;
        <strong><a class="taglink" href="/tag/<%=post.tagB%>/"><%-post.tagB%></a></strong>&nbsp;
        <strong><a class="taglink" href="/tag/<%=post.tagC%>/"><%-post.tagC%></a> </strong>&nbsp;
        <span class="created_at">Posted: <%-post.created_atP%></span>
        <% if(post.updated_atP !==null){%>
        <span class="created_at">Updated: <%-post.updated_atP%>
        <%}%>
        </span>
        </form>
        <form method="POST" action="/vote?_method=PUT">
        <span class="vote" id="post">
          <label>Post: </label>
          <
          <input type="submit" name="post,<%=post.created_atP%>,up" value="&#8657;">
        &nbsp;<%=post.Pvote%>&nbsp;
          <input type="submit" name="post,<%=post.created_atP%>,down" value="&#8659;">
        </span>
        </div>
    </div>
    <div class="postBod">
    <img src="<%=post.PimageUrl%>">
    <p class="mainbody"><%-post.Pbody%></p>
      <div class="author">
        <span class="author">Author: <a class="authlink" href="/user/<%=post.userID%>/"><%-post.userN%></a></span> 
        &nbsp;
         <span class="created_at"> User since: <%-post.created_atU%></span>
         &nbsp;
         <span class="avatar">(<%-post.avatar%>)</span>&nbsp;
        <span class="vote" id="user"> &nbsp;
        <label>Rep: </label>
        <input type="submit" name="user,<%=post.created_atU%>,up" value="&#8657;">
        &nbsp;<%-post.Uvote%>&nbsp;
        <input type="submit" name="user,<%=post.created_atU%>,down" value="&#8659;">
         </span>
      </div>
    </div>

    <h4>Comments</h4>
    <%if (comments.length<1){%>
      <div class="comFull">
      <p> Be the first to Comment!</p>
      </div>
    <%}else{%>
    <div class="comFull">
    <% comments.forEach(function(key){ %>
      <div class="singleCom">
      <div class="comInfo">
      <strong><%-key.titleM%></strong>
      <span class="created_at">Created:<%- key.created_atM %></span>&nbsp;&nbsp;
      <span class="vote" id="comment">  
      <label>Comment: </label>
        <input type="submit" name="comment,<%=key.created_atM%>,up" value="&#8657;">
        &nbsp;<%- key.Mvote%>&nbsp;
        <input type="submit" name="comment,<%=key.created_atM%>,down" value="&#8659;">
        </span>
      </div>
      <div class="author">
        <span class="author"><a href="/user/<%=key.userID%>"><%-key.userN%></a>:</span>
        <span class="created_at"> Since: <%-key.created_atU%></span> 
        <span class="avatar">  (<%-key.avatar%>)</span>
        <span class="vote"> Rep: <%-post.Uvote%></span>
      </div>
        <p><%- key.bodyM %></p>
      </div>
    <%});%>
    </form>
    <form>

    </form>
    <br />
    <%}%>
    <h3>Add your own<br></h3>
    <div>
      <form method="POST" action="/cat/<%=cat.id%>/post/<%=post.id%>">
      <ul>
      <label> Your User</label>
      <input type="text" name="inputEmail" id="email"placeholder="MyRegistered@email.com" >
      <input type="password" name="pw" id="PW" placeholder="your Password">
        <%if(error.text==="Nope!"){%>
        <span class="error">
        &#9756; 
        <%}%>
        </span>
        <li class="mBuild">
            <label>Title:<br></label>
            <input type="text" placeholder= "Great Work | Typo | Funny" name="mTitle" maxlength="25">
        </li>
        <li class="mBuild">
            <label>Comment:<br></label>
            <textarea rows="5" cols="55" placeholder="This is a really cool post, but an even cooler WEBSITE!" name="mBody"></textarea>
        </li>
        <li class="mBuild">
            <span><input type="submit" value="Send"></span>
        </li>
      </ul>
      </form>
    </div>
    </main>
    </div>
    </div>
    <form method="POST" action="/subscribe/<%=spID.sid%>">
      <input type="text" name="inputEmail" id="email"placeholder="MyRegistered@email.com" required>
      <input type="password" name="pw" id="PW" placeholder="your Password" required>
      <input type="submit" name="post" value="Subscribe">
    </form>
    <ul>
      <span><li><a href="/post/<%=post.id%>/edit"> Edit this Post! </a></li>
      
      <li><form method="POST" action="/post/<%=post.id%>?_method=DELETE">
      <input type="submit" name= "delete" value="Delete this Post">
      </form></li>
    <li><a href="/"> See All Posts</a></li>
    <li><a href="/cat/<%=post.catID%>/post/add"> Add another Post</a></li></span>
    </ul>
    </ul>
    
<%include ./partials/footer%>