<%include ./partials/header%>
<%include ./partials/footer%>
    <head>
    <title> <%-post.Ptitle%></title>
    </head>
    <h3><a class="catlink" href="/cat/<%-post.catID%>/"><%-cat.Ctitle%></a></h3>
    <hr>
    <div class="cat info">
    <span class="vote"><%-cat.Cvote%></span><strong><a class="taglink" href="/tag/"+<%=cat.tagA%>> <%-cat.tagA%> </a><a class="taglink" href="/tag/"+<%=cat.tagB%>> <%-cat.tagB%> </a> <a class="taglink" href="/tag/"+<%=cat.tagC%>><%-cat.tagC%> </a></strong>
    </div>
    <div class="author"><p>Submitted by: <span class="author"><%-cat.userN%></span> <span class="avatar">(<%-cat.avatar%>)</span> <span class="vote"> Rep:<%-cat.Uvote%></span></p></div>

    <h2> <%-post.Ptitle%><span class="author">by: <%-post.userN%></span><span class="vote"> Rep: <%-post.Uvote%></span><span class="created_at">Since: <%-post.created_atU%></span><span class="avatar"><%-post.avatar%></span></h2>
    <img src="<%=post.PimageUrl%>">
    <p><%-post.Pbody%></p>
    <p><strong><%-post.tagA%> <%-post.tagB%> <%-post.tagC%></strong><span class="updated_at"><%-post.Pupdated_at%></span></p>
    <h3>Comments</h3>
    <% comments.forEach(function(key){ %>
      <div>    
      <article>     
        <h4><%- key.updated_at %> - <%- key.userID %>: tags:  <strong><%-key.title%></strong></h4>
        <p><%- key.body %></p>
      </article>
      </div>
    <%});%>
    <h3>Add your own<br></h3>
    <div>
      <form method="POST" action="/post/<%=post.id%>">
        <ul>
          <li><label>Writer:<br></label>
            <input type="text" placeholder= "Johnny Coltrene" name="author">
          </li>
          <li>
            <label>Tag:<br></label>
            <input type="text" placeholder= "Great Work | Typo | Funny" name="tag">
          </li>
          <li>
            <label>Comment:<br></label>
            <textarea rows="5" cols="55" placeholder="This is a really cool post, but an even cooler WEBSITE!" name="body"></textarea>
          </li>
          <li>
            <span><input type="submit" value="Send"><span>
          </li>
        </ul>
      </form>
    </div>
    </main>

    <ul>
      <span><li><a href="/post/<%=post.id%>/edit"> Edit this Post! </a></li>
      <li><form method="POST" action="/post/<%=post.id%>?_method=DELETE">
      <input type="submit" name= "delete" value="Delete this Post">
      </form></li>
    <li><a href="/"> See All Posts</a></li>
    <li><a href="/post/add"> Add another Post</a></li><span>
    </ul>