<%include ./partials/header%>
<head>
  <title> <%-post.Ptitle%></title>
</head>
    <form method="POST" action="/user/<%=post.userID%>/vote?_method=PUT">
      <select class="userSelect" name="user" required>
      <%for(var i=0;i <users.length;i++){%>
      <label> Your User</label>
      <option value="<%-users[i].userN%>"><%-users[i].userN;%></option>
      &nbsp; <input type="password" name="pw" placeholder="your Password" required>
      <input type="hidden" name="true" value="<%-users[i].password%>">
    <%}%>
    </select>
    <br />
    <div class="cat">
    <h4><a class="catlink" href="/cat/<%-post.catID%>/"><%-cat.Ctitle%></a><span class="vote" id="cat"> &nbsp;
        <label>Category: </label>
        <input type="hidden" name="category" value="<%=post.catID%>">
        <input type="submit" name="up" value="&#8657;">
        &nbsp;<%-cat.Cvote%>&nbsp;
        <input type="submit" name="down" value="&#8659;">
         </span>  </span></h4>
    <div class="catInfo">
       &#164;<strong><a class="taglink" href="/tag/<%=cat.tagA%>"> <%-cat.tagA%></a></strong>&nbsp;<strong><a class="taglink" href="/tag/<%=cat.tagB%>"><%-cat.tagB%> </a></strong> &nbsp;<strong><a class="taglink" href="/tag/<%=cat.tagC%>"> <%-cat.tagC%> </a></strong>
    </div>
    <div class="author">
      Originator: <span class="author"><a class="authlink" href="user/<%=cat.userID%>/"><%-cat.userN%></a></span> &nbsp; <span class="avatar">(<%-cat.avatar%>)</span> &nbsp;
      <span class="vote" id="user"> &nbsp;
        <label>Rep: </label>
        <input type="hidden" name="user" value="<%=cat.userID%>">
        <input type="submit" name="up" value="&#8657;">
        &nbsp;<%-cat.Uvote%>&nbsp;
        <input type="submit" name="down" value="&#8659;">
         </span>
    </div>
    </div>
    <div class="postTit">
      <h2> <%-post.Ptitle%></h2>
      <div class="postInfo">
        &#164;<strong><a class="taglink" href="/tag/<%=post.tagA%>/"><%-post.tagA%></a></strong>&nbsp;
        <strong><a class="taglink" href="/tag/<%=post.tagB%>/"><%-post.tagB%></a></strong>&nbsp;
        <strong><a class="taglink" href="/tag/<%=post.tagC%>/"><%-post.tagC%></a> </strong>&nbsp;
        <span class="created_at">Posted: <%-post.created_atP%></span>
        <% if(post.updated_atP !==null){%>
        <span class="created_at">Updated: <%-post.updated_atP%>
        <%}%>
        </span>
        <span class="vote" id="post">
          <label>Post: </label>
          <input type="hidden" name="post" value="<%=comments.postID%>">
          <input type="submit" name="up" value="&#8657;">
        &nbsp;<%-post.Pvote%>&nbsp;
          <input type="submit" name="down" value="&#8659;">
        </span>
        </div>
    </div>
    <div class="postBod">
    <img src="<%=post.PimageUrl%>">
    <p class="mainbody"><%-post.Pbody%></p>
      <div class="author">
        <span class="author">Author: <a class="authlink" href="user/<%=post.userID%>/"><%-post.userN%></a></span> &nbsp; <span class="created_at"> User since: <%-post.created_atU%></span>&nbsp;<span class="avatar">(<%-post.avatar%>)</span>&nbsp;
        <span class="vote" id="user"> &nbsp;
        <label>Rep: </label>
        <input type="hidden" name="user" value="<%=post.userID%>">
        <input type="submit" name="up" value="&#8657;">
        &nbsp;<%-post.Uvote%>&nbsp;
        <input type="submit" name="down" value="&#8659;">
         </span>
      </div>
    </div>

    <h4>Comments</h4>
    <div class="comFull">
    <% comments.forEach(function(key){ %>
      <div class="singleCom">
      <div class="comInfo">
      <strong><%-key.titleM%></strong>
      <span class="created_at">Created:<%- key.created_atM %></span>&nbsp;&nbsp;
      <span class="vote" id="comment">  
      <label>Comment: </label>
        <input type="hidden" name="comment" value="<%=key.create_atM%>">
        <input type="submit" name="up" value="&#8657;">
        &nbsp;<%- key.Mvote%>&nbsp;
        <input type="submit" name="down" value="&#8659;">
        </span>
      </div>
      <div class="author">
        <span class="author"><a href="/user/<%=key.userID%>"><%-key.userN%></a>:</span>
        <span class="created_at"> Since: <%-key.created_atU%></span> 
        <span class="avatar">  (<%-key.avatar%>)</span>
        <span class="vote"> Rep: <%-post.Uvote%></span>
      </div>
        <p><%- key.bodyM %></p>
      </div>
    <%});%>
    </div>
    </div>
    </form>
    <h3>Add your own<br></h3>
    <div>
      <form method="POST" action="/post/<%=post.id%>">
        <ul>
        <select class="userSelect" name="user" required>
          <li>
          <%for(var i=0;i <users.length;i++){%>
          <label> Your User</label>
          <option value="<%-users[i].userN%>"><%-users[i].userN;%></option>
          &nbsp; 
          <span id="password"><input type="password" name="pw" placeholder="your Password" required></span>
      <input type="hidden" name="true" value="<%-users[i].id%>">
    <%}%></li>
    </select>
          <li class="titleCommentBuild">
            <label>Title:<br></label>
            <input type="text" placeholder= "Great Work | Typo | Funny" name="tag">
          </li>
          <li>
            <label>Comment:<br></label>
            <textarea rows="5" cols="55" placeholder="This is a really cool post, but an even cooler WEBSITE!" name="body"></textarea>
          </li>
          <li>
            <span><input type="submit" value="Send"></span>
          </li>
        </ul>
      </form>
    </div>
    </main>
    <ul>
      <span><li><a href="/post/<%=post.id%>/edit"> Edit this Post! </a></li>
      <li><form method="POST" action="/post/<%=post.id%>?_method=DELETE">
      <input type="submit" name= "delete" value="Delete this Post">
      </form></li>
    <li><a href="/"> See All Posts</a></li>
    <li><a href="/<%=cat.id%>/post/add"> Add another Post</a></li><span>
    </ul>
    </form>
<%include ./partials/footer%>