<%include ./partials/header%>
    <h2> <%-post.tagA%> <%-post.tagB%> <%-post.tagC%>Feed! </h2>
    <div class="topcat">
      <ul class="cats">
      <%cats.forEach(function(cat){%>
        <li class="catslist"><a href="/cat/<%=cat.id%>"><%-cat.Ctitle%><span class="created_at"><%-cat.created_atC%></span></a></li>
      <%});%>
      </ul>
    </div>
    <% if( typeof posts!==undefined){%>
    <ol>
      <% posts.forEach(function(key){ %>
          <li> <div><a href="/cat/<%=key.catID%>/post/<%=key.id%>"><%-key.Ptitle%> <strong style="font-size:0.65em">(updated: <%-key.updated_at%>)</strong></a>
         <span style="font-size: 0.75em; margin: 5px 0px 0px 0px;"><a href="/post/<%=key.id%>/edit">Edit this</a>
         <form method="POST" action="/post/<%=key.id%>?_method=DELETE">
          <input type="submit" name= "delete" value="Delete this Post"></div></span>
          </form></li>
          <a href="/posts/<%=what.thing%>/"> >View Next Page</a>
      <%});%>
      <%}else{%>
        No more posts. <a href="/"> >Back Home</a>
    </ol>
      <%}%>
<%include ./partials/footer%>